.model-viewer {
  font-family: "Roboto", sans-serif;
}

.model-viewer-header h1 {
  font-size: 64px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif; /* Ensure proper font family */
  padding-left: 80px; /* Space from the left edge */
  color: #bdbdbd; /* Font color */
}

.model-display {
  display: flex;
  width: 100%; /* Full width of the parent container */
  height: 75vb;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.viewer-container {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* 75% of the viewport height */
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.components-section {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start of the flex container */
  padding-left: 90px; /* Space from the left edge */
  margin-bottom: 20px; /* Adjust as necessary for space below */
  padding-bottom: 50px;
}

.components-label {
  color: #333333;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 14px; /* Space between the label and the dropdown */
  text-align: left;
}

.component-dropdown {
  width: 310px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  background: white;
  cursor: pointer;
  text-align: left;
}

/* Style for the dropdown arrow */
.component-dropdown::after {
  content: "▼";
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

.comment-button {
  padding: 8px 18px;
  margin-top: 25px; /* Space between the dropdown and the button */
  background-color: #EF700B;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 900;
}
