.voting-container {
    padding-top: 70px;
    max-width: 1370px;
    margin: auto;
    text-align: left;
    max-width: 100%;
}

.voting-container h1 {
    padding-top: 100px;
    font-size: 64px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif; /* Ensure proper font family */
    margin-left: 20px;/* Space from the left edge */
    color: #BDBDBD; /* Font color */
}

.voting-container p {
    padding-top: 100px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif; /* Ensure proper font family */
    padding-left: 40px; /* Space from the left edge */
    color:'black'; /* Font color */
}






.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjusted to match the layout */
    gap: 25px;
    padding: 20px;
}

.image-item {
    padding: 15px;
    text-align: center;
    
}


.vote-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; 
}

.bar {
    height: 100%;
    border-radius: 5px;
}

.vote-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ifc-model-button {
    
        padding: 10px 8px;
        background-color: #EF700B;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: 800;
        height: 40px;
        width: 120px;
        margin-right: 60px;
      
}

.vote-button {
    
    padding: 10px 8px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 800;
    height: 40px;
    width: 70px;
    margin-left: 60px;
  
}




.ifc-model-button:hover, .vote-button:hover {
    color: #fff;
    background-color: #EF700B;
}

.votes-count {
    margin-left: 25px; /* Spacing between bar and vote count */
    white-space: nowrap;
}    

.group-label{
    flex-shrink: 0;
    margin-right: 25px;
}


.bar-container {
    flex-grow: 1;
    background-color: #ddd;
    margin-right: 8px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.chart-container {
    margin-top: 0px;
    width: 800px;
    height: 400px;
    position: relative; 
    margin-bottom: 100px;
    margin-left: 25px;
    
}

.temporatary-result {
    display: flex;
    flex-direction: column;
    /* Stack the average rating elements vertically */
    align-items: center;
    /* Center-align the items */
    padding-left: 80px;
    /* Increased padding to the right */
    padding-top: 60px;
}


.average-score {
    color: 'black';
    font-size: 40px;
    font-size: Montserrat;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    /* Stack the average rating elements vertically */
    align-items: center;
    /* Center-align the items */

}

.current-winner {
    color: 'black';
    font-size: 24px;
    font-size: Montserrat;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* Stack the average rating elements vertically */
    align-items: center;
}


.result-container {
    font-family: 'Arial', sans-serif;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: -200px;
}

.result-container h2 {
    color: #333;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 36px;
    font-size: Montserrat;
    font-weight: 700;

}

.result-flex-container {
    display: flex;
    align-items: left;
    /* Align vertically */
    justify-content: left;
    /* Space out the child elements */
}